{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все посты: {{ category_news_list|length }} </h1>
{% if is_not_subscriber %}
    <button><a href="{% url 'subscribe' category.id %}">Подписаться</a></button>
{% endif %}


<hr>
{% if category_news_list %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата</td>
        <td>Начало</td>
        <td>Категория</td>
    </tr>

    {% for post in category_news_list %}
    <tr>

        <td>{{ post.header|censor }}</td>
        <td>{{ post.data }}</td>
        <td>{{ post.text|truncatewords:20|censor }}</td>
        <td>{% for category in post.category.all %}
            {{ category }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>

{% else %}
<h2>Постов нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
<hr>
{% if is_not_author %}
<button><a href="upgrade/"> Стать автором!</a></button>
{% endif %}
<button><a href="/accounts/logout"> Выйти</a></button>

{% endblock content %}